/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2016, 10:40:18 PM
    Author     : Mary
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
*{
    font-family: 'Roboto Slab', sans-serif; font-weight: 300;  /* Семейство шрифтов */    
}

html{
    height: 100%;
}

.page-body{
    background-color: #D7EFE8; 
    height: 100%;
}
/* background-color: #669BBA; */
.header{
    background-color: cadetblue;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
    padding-left: 10%;
    box-shadow: 0 0 10px -1px;
    border: 0px solid black;
} 
.title{
    font-family: 'Roboto Slab', sans-serif; font-weight: 700;
    color: cornsilk;
    width: 300px;
    border: 0px solid black;
    float: left;
}
.header-button{
    background-color: #68ACAD;
    color: cornsilk;
    float: right;
    height: 60px;
    width: 60px;
    margin: 0px;
    border: 0px solid black;
    box-shadow: 0 0 6px -1px #588182;
}
.feed{
    background-color: #FFFFFF;
    width: 900px;
    height: 95%;
    margin: auto;
    margin-top: 80px;
    padding-top: 10px;
    box-shadow: 0 0 3px -1px;
}

.navigation-ref{
    text-decoration: none;        
}

.clear {
    clear: left; /* Отмена обтекания */
   }
  *{
    font-family: Areal;
}
.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:100px;
    height: 100px;
    padding:100px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.sidebar {
 background: cadetblue; 
 width: 180px; 
 font-size:12px;
 text-align: center;
 height: 200px;
 position: fixed; /* Фиксированное положение */
 right: 10px; /* Расстояние от правого края окна браузера */
 top: 13%; /* Расстояние сверху */
 padding: 10px; /* Поля вокруг текста */
 box-shadow: 0 0 10px -1px;
 border: 0px solid black;
}
.sidebar-button{
    position: fixed;
    right: 70px; /* Расстояние от правого края окна браузера */
    top: 33%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background-color: gold;
    text-align: center;
    border: 1px black;
    width: 70px;
    height: 25px;
    margin-top: 5px; 
    padding: 0px;
    box-shadow: 0 0 3px -1px;
}
.sidebar-window{
    height: 40px;
}