/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2016, 10:40:18 PM
    Author     : Mary
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
*{
    font-family: 'Roboto Slab', sans-serif; font-weight: 300;  /* Семейство шрифтов */    
}

/*----------------------- Index page style ---------------------------------- */
.index-div1{
    background-color: white;
    text-align: center;
    float:right;
    width: 400px;
    margin-top: 30px;
    margin-right: 40px;
    border: 0px solid black;
}

.index-div2{
    background-color: white;
    text-align: justify;
    margin-top: 40px;
    border: 0px solid black;
}

.index-button{
    background-color: gold;
    text-align: center;
    border: 1px black;
    width: 70px;
    height: 25px;
    margin-top: 20px; 
    padding: 0px;
    box-shadow: 0 0 3px -1px; 
}
.index-button:hover{
    background-color: #FFDD32;
    box-shadow: 0 0 8px -1px;
}

.index-imagebox{
    position: static;
    float: left;
    border: 0px solid  black;
    width: 400px; 
    margin-top: 30px;
    margin-left: 40px;
}

.clear {
    clear: left; /* Отмена обтекания */
   }
/*----------------------- Login page style ---------------------------------- */
.login-div1{
       margin: 40px;
       text-align: left;       
   }

/*----------------------- User's profile page style ------------------------- */  
.profile-head{
    float: right;
    text-align: center;
    height: 40px;
    width: 450px;
    background-color: gold;
    margin-top: 20px; 
    margin-right: 40px;
}
.profile-inform{
    float: right;
    text-align: right;
    height: 40px;
    width: 450px;
    margin-top: 40px; 
    margin-right: 30px;
    margin-bottom: 80px;
}
.profile-inform1{
    float: right;
    display: inline-block;
    width: 220px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin-left: 20px;
}
.profile-inform2{
    float: right;
    display: inline-block;
    width: 120px;
    font-weight: bold;
    text-align: left;
    margin-right: 100px;
    margin-left: 30px;
}
.change-pas{
    margin-top: 300px;
    text-align: center;
    font-size: 14px;
}
/*---------------------------- Forum page style ----------------------------- */
.navigation-ref{
    text-decoration: #68ACAD none;
    border: 0px;
    font-family: monospace;
    font-size: medium;
    color:  steelblue;
}
.navigation-ref:visited{
    text-decoration: #68ACAD none;
}
.navigation-div{
    background-color: #F8F8F6;
    height: 25px;
    width: 200px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border: 0px solid cadetblue;
    box-shadow: 0 0 4px -2px;
}
.forum-sections{
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    border: 2px solid  #E5E5E5;    
}

/*---------------------------- Sidebar page style --------------------------- */
.sidebar {
 background: cadetblue; 
 width: 180px; 
 font-size:12px;
 text-align: center;
 height: 200px;
 position: fixed; /* Фиксированное положение */
 right: 10px; /* Расстояние от правого края окна браузера */
 top: 13%; /* Расстояние сверху */
 padding: 10px; /* Поля вокруг текста */
 box-shadow: 0 0 10px -1px;
 border: 0px solid black;
}
.sidebar-button{
    position: fixed;
    right: 70px; /* Расстояние от правого края окна браузера */
    top: 33%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background-color: gold;
    text-align: center;
    border: 1px black;
    width: 70px;
    height: 25px;
    margin-top: 5px; 
    padding: 0px;
    box-shadow: 0 0 3px -1px;
}
.sidebar-window{
    height: 40px;
}